<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.bharatvaidhyanathan">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".assignmentThree.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".assignmentOne.AboutMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assignmentOne.tictactoe.activities.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".assignmentOne.tictactoe.activities.GameActivity" />
        <activity
            android:name=".assignmentThree.TestDictionaryActivity"
            android:label="@string/title_activity_test_dictionary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".assignmentFive.scroggle.activities.ScroggleMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".assignmentFive.scroggle.activities.ScroggleGameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".assignmentSeven.WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".assignmentSeven.WordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".assignmentSeven.multiplayerScroggle.CommunicationActivity"
            android:label="Communication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".assignmentSeven.multiplayerScroggle.FCMActivity"
            android:label="Communication"
            android:screenOrientation="portrait" />

        <activity
            android:name=".assignmentEight.MultiplayerScroggleActivity"
            android:label="Two Player Word Game"
            android:screenOrientation="portrait" />
        <activity android:name=".assignmentEight.gameFiles.scroggle.activities.ScroggleGameActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".assignmentEight.gameFiles.scroggle.activities.ScroggleMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".assignmentEight.gameFiles.scroggleOffline.activities.OfflineScroggleGameActivity"
            android:label="OfflineGame"
            android:screenOrientation="portrait"/>
        <activity android:name=".assignmentEight.gameFiles.scroggleOffline.activities.ScroggleMainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".assignmentEight.multiplayerScroggle.FCMActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".assignmentEight.LocationManagerActivity"
            android:screenOrientation="portrait"/>


        <receiver
            android:name=".assignmentEight.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>